<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="content"><%= feed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
	<br />
	<ol> 
		<% @data = {"Title"=>"Download", "Plot"=>"No details available", "Year" => "-", "Genre"=>"-","imdbRating"=>"0"} %>
		<% @data = ActiveSupport::JSON.decode(feed_item.data_json) unless feed_item.data_json.nil? || feed_item.data_json.empty? %>
		<li class="stbody">
		<div class="stimg">
			<!--<img style="width:125px;height:185px;" src=\'<%= feed_item.poster_src  %>\' />-->
		<%= image_tag feed_item.poster_src, :size => "125x186" %>
		</div> 
		<div class="sttext">
			<a href=<%= feed_item.magnet_link %>><%= @data['Title'] %></a>
			<br />
			<%= @data['Plot'] %>
			<br />
			<div class="sttime">Year: <%= @data['Year'] %> - Genre: <%= @data['Genre'] %> - Rating: <%= @data['imdbRating'] %></div> 
		</div> 
		</li>
	</ol>
  </td>
</tr>
