<%= form_for @micropost do |f| %>
  <%#= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
	<div class="actions">
    <%= f.submit "Submit" %>
  	</div>
	<div id="img_loader">
		<img name="loader" src="" />
	</div>
	<div id="data_div">
		<ol> 
			<li class="stbody">
				<div class="stimg">
					<img name="img01" src="" />
				</div> 
				<div class="sttext">
					<div id="movie_data"></div>
					<br />
					<div class="sttime">
						<div id="choose_picture_div">
							<label id="image_counter"></label>
							<a href="#" onclick="previousImage();">
								<img src='/images/prev.png' />
							</a>
							<a href="#" onclick="nextImage();">
								<img src='/images/next.png' />
							</a>
							Choose a tumbnail
							<br />
							<a href="#" id="download_link"></a>
						</div>
					</div> 
				</div> 
			</li>
		</ol>
	</div>
	<div style="visibility:hidden;">
        	<%= f.text_field :poster_src %>
        	<%= f.text_field :data_json %>
        	<%= f.text_field :magnet_link %>
        </div>
  </div>
<% end %>
<div id="hidden_div" style="visibility:hidden;"></div>
<br />
<br />
