<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Which movie did you watch?</h1>
		Paste your torrent download site link below, and then edit the text before you post it
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% end %>

<% if !signed_in? %>
<script>
	$('body').css("background-image", "url(/images/IMG_5178.JPG)");
	$('body').css("background-size", "100%");
</script>
<div class="welcome_message">
	<h1>Welcome to Juitt.</h1>
	<p >
		Get the best movies according to your taste from the people you believe in.
	</p>

	<div style='margin-left:auto;margin-right:auto;text-align:center;'>
		<!--<iframe width="560" height="315" src="http://www.youtube.com/embed/7wEnFtx5d48" frameborder="0" align='middle' ></iframe>-->
		<iframe src="http://player.vimeo.com/video/46936318?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0"></iframe>
	</div>
		<h4>How it works</h4>
		<ol>
			<li>Create your free account</li>
			<li><a href='http://www.utorrent.com' target='_blank'>Download a torrent client</a> in your computer</li>
			<li>Follow the people that have your same taste in movies</li>
			<li>When you download a good movie, you can post the link on Juitt, and let your followers enjoy too</li>
		</ol>
</div>
<br />
<center>
	<h4>New to Juitt?
	<%= link_to "Sign up for Juitt", signup_path, :class => "signup_button round" %> or <%= link_to "Sign in", signin_path %>
	</h4>
</center>
<% end %>
