<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Which movie did you watch?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% end %>

<% if !signed_in? %>
<h1>Juitt</h1>
<p>
	Post the links to the movies you download and let your friends enjoy!
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>