<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Which movie did you watch?</h1>
		Paste your torrent download site link below, and then edit the text before you post it
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% end %>

<% if !signed_in? %>
<div class="welcome_message">
	<h1>Welcome to Juitt.</h1>
	<p >
		Get the best movies according to your taste from the people you believe in.
		<h4>How it works</h4>
		<ol>
			<li>Create your free account</li>
			<li><a href='http://www.utorrent.com' target='_blank'>Download a torrent client</a> in your computer</li>
			<li>Follow the people that have your same taste in movies</li>
			<li>When you download a good movie, you can post the link on Juitt, and let your followers enjoy too</li>
		</ol>
	</p>
</div>
<h4>New to Juitt?
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
</h4>
<% end %>
