<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Developers", contact_path %></li>
      <li><%= link_to "Help", contact_path %></li>
      <li><%= link_to "Terms", contact_path %></li>
      <li><%= link_to "Privacy", contact_path %></li>
	  <li> &copy; 2012 Juitt</li>
    </ul>
  </nav>
</footer>